<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create task</h1>
    <form method="post">
        {% csrf_token %}

        <label>task</label>
        <input type="text" name="task" placeholder="Enter your task">


        <textarea name="desc" id="" placeholder="enter description" > description</textarea>

        <div class="priority">
            <label>priority</label><br>
            <input type="radio" name="priority" value="low"> low
            <input type="radio" name="priority" value="medium"> medium
            <input type="radio" name="priority" value="high"> high
        </div>
        
       

        <div class="status">
            <label>priority</label><br>
            <input type="radio" name="status" value="todo">todo
            <input type="radio" name="status" value="pending">pending
            <input type="radio" name="status" value="completed">completed
        </div>

        <button type="submit">Submit</button>
    </form>

</body>
</html>