<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>details</h1>
        <div>
            <p>{{task1.id}}</p>
            <p>{{task1.task}}</p>
            <p>{{task1.desc}}</p>
            <p>{{task1.priority}}</p>
            <p>{{task1.date}}</p>
            <p>{{task1.status}}</p>
        </div>
        <button><a href="{% url 'display' %}">back</a></button>
    </div>
    
</body>
</html>